:root {
	--ipn-radius: 6px;
	--ipn-height-wrapper: 56px;
	--ipn-gap-wrapper: 4px;
	--ipn-padding-wrapper: 0 10px;
	--ipn-font-size-wrapper: 16px;
	--ipn-font-weight-wrapper: 400;
	--ipn-background-wrapper: #fff;
	--ipn-border-wrapper: 1px solid #d1d1d1;
	--ipn-color-wrapper: #000;
	--ipn-select-arrow-color: #9a9a9a;
	--ipn-error-color: #c43030;
	--ipn-loader-color: #8263d9;
	--ipn-loader-size: 20px;
	--ipn-offset-loader: 20px;
	--ipn-outline-focus-color: rgba(9, 70, 161, 0.5);
	--ipn-options-max-height: 212px;
}

.ipn {
	$this: &;

	position: relative;
	display: flex;
	gap: var(--ipn-gap-wrapper);
	width: max(100%, 200px);
	height: var(--ipn-height-wrapper);
	padding: var(--ipn-padding-wrapper);
	outline: none;
	box-sizing: border-box;
	line-height: 133%;
	border-radius: var(--ipn-radius);
	font-size: var(--ipn-font-size-wrapper);
	font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
	font-weight: var(--ipn-font-weight-wrapper);
	background-color: var(--ipn-background-wrapper);
	border:var(--ipn-border-wrapper);
	color: var(--ipn-color-wrapper);

	&.error {
		border-color: var(--ipn-error-color);
	}

	&:has(.ipn__input:focus) {
		outline: 1px solid var(--ipn-outline-focus-color);
	}

	&__input,
	&__select,
	&__options-search {
		font-family: inherit;
		border: 0;

		&:focus,
		&:active {
			outline: none;
		}
	}

	&__select,
	&__input {
		padding: 0;
	}

	&__options-item,
	&__select {
		cursor: pointer;
		user-select: none;
	}

	&__select {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		color: inherit;
		background-color: transparent;

		@media (any-hover: hover) {
			&:hover {
				--ipn-select-arrow-color: color-mix(in srgb, #9a9a9a, #000 25%);
			}
		}

		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}

	&__input,
	&__options-search {
		&::-ms-clear {
			display: none;
		}
	}

	&__input {
		font-weight: 400;
		transition: color .2s ease-in-out;

		.ipn-loading & {
			color: #444;
		}
	}

	&__input,
	&__select-prefix {
		font-size: 16px;
		line-height: var(--ipn-height-wrapper);
	}

	&__options-flag,
	&__select-flag {
		display: inline-block;
		width: 19px;
		height: 14px;
		flex-shrink: 0;
		background-color: #c5c5c5;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		background-image: url("/public/ipn-flags.png");
		background-repeat: no-repeat;
	}

	&__select-arrow {
		position: relative;
		margin-left: 6px;
		border-style: solid;
		border-width: 5px 4px 0;
		border-color: var(--ipn-select-arrow-color) transparent transparent;
		transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;

		.ipn-visible-options & {
			transform: rotate(180deg);
		}
	}

	&__select-prefix {
		margin-left: 10px;
	}

	&__options-wrap {
		margin-top: 4px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		max-height: var(--ipn-options-max-height);
		flex-direction: column;
		border: 1px solid #eee;
		border-radius: var(--ipn-radius);
		box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
		background-color: #fff;
		z-index: 10;
		overflow: hidden;
		display: none;

		.ipn-visible-options & {
			display: flex;
		}
	}

	&__options-loader {
		padding: var(--ipn-offset-loader);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		color: #444;

		&::before {
			content: "";
			box-sizing: border-box;
			width: var(--ipn-loader-size);
			aspect-ratio: 1;
			border-radius: 50%;
			border: 2px solid #ececec;
			border-right-color: var(--ipn-loader-color);
			animation: rotate 1s linear infinite;
		}

	}

	&__options-search {
		padding: 10px;
		border-bottom: 1px solid #ececec;
		transition: border-color 0.2s ease-in-out;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .1);

		&:focus {
			border-color: var(--ipn-loader-color);
		}
	}

	&__options-list {
		list-style: none;
		margin-block: 0;
		padding: 5px 0;
		overflow: hidden auto;
		scrollbar-width: thin;
	}

	&__options-item {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		padding: 8px 10px;
		font-family: sans-serif;
		color: #000;
		transition: background-color .1s ease-in-out;

		@media (any-hover: hover) {
			&:hover {
				background-color: color-mix(in srgb, #000, transparent 97%);
			}
		}

		&:active {
			background-color: color-mix(in srgb, #000, transparent 95%);
		}

		&_active {
			pointer-events: none;
			background-color: color-mix(in srgb, var(--ipn-loader-color), transparent 80%);
		}
	}

	&__options-name {
		overflow: hidden;
		flex: 1 1 auto;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-wrap: nowrap;
	}

	&__options-code {
		flex-shrink: 0;
	}
}

@keyframes rotate {
	to {
		transform: rotate(1turn);
	}
}
